<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="436d62da-28df-4682-a67d-49d8d787656d"
            Publisher="CN=tonip_000"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>3.surface-on-xaml-only-managed</DisplayName>
    <PublisherDisplayName>tonip_000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="_3.surface_on_xaml_only_managed.App">
        <VisualElements
            DisplayName="3.surface-on-xaml-only-managed"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="3.surface-on-xaml-only-managed"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>