<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="a8081680-b8a3-4cd9-b454-f98c5f1ead28"
            Publisher="CN=tonip_000"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>2.surface-on-xaml</DisplayName>
    <PublisherDisplayName>tonip_000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="_2.surface_on_xaml.App">
        <VisualElements
            DisplayName="2.surface-on-xaml"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="2.surface-on-xaml"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>